{% extends 'base.html.twig' %}

{% block title %}Restaurant Quai Antique | Arnaud Michant
{% endblock %}
{% block meta %}
	<meta name="description" content="Vous souhaitez en savoir plus sur notre chef ? Découvrez l'histoire d' Arnaud Michant.">
{% endblock %}
{% block body %}
	<div class="top pt-50 text-center" id="about-top">
		<h1>Le Chef Michant</h1>
		<p class="m-3">Son histoire</p>
		<i class="fa-solid fa-utensils"></i>
	</div>
	<div class="container">
		<section class="text-center m-5" id="aboutUs">
			<h2 class="m-5">Notre chef</h2>
			<div class="row">
				<div class="col-lg-6 p-0">
					<img src="assets/images/chef-antoine-michant.jpg" alt=""></div>
				<div class="col-lg-6 p-5 d-grid">
					<h3>Arnaud Michant</h3>
					<span class="separator"></span>
					<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ullam nam recusandae sit aliquam alias iusto nemo, harum et quisquam facilis consequatur inventore sint veritatis, quod quam quia placeat dolor eum.Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ullam nam recusandae sit aliquam alias iusto nemo, harum et quisquam facilis consequatur inventore sint veritatis, quod quam quia placeat dolor eum.Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ullam nam recusandae sit aliquam alias iusto nemo, harum et quisquam facilis consequatur inventore sint veritatis, quod quam quia placeat dolor eum.</p>
				</div>
			</div>
		</section>
	</div>
{% endblock %}
