<footer>
	<div class="bg-light footer-top p-5">
		<div class="container">
			<div class="row text-center">
				<h2>Nos horaires</h2>
				<span class="separator"></span>
			</div>
			<div class="opening-slots">
				{% set schedulesByDay = {} %}
				{% for schedule in schedules %}
					{% set day = schedule.day %}
					{% set schedulesByDay = schedulesByDay|merge({(day): (schedulesByDay[day] ?? [])|merge([schedule])}) %}
				{% endfor %}

				{% for day, schedulesForDay in schedulesByDay %}
					<div class="day">
						<div class="opening-days">
							<span>{{ day }}</span>
						</div>
						{% for schedule in schedulesForDay %}
							<div class="opening-hours">
								{% if schedule.is_active %}
									<span>{{schedule.opening_hour|date('H \\: i')}}
										-
										{{schedule.closing_hour|date('H \\: i')}}</span><br>
								{% else %}
									<span>FERMÉ</span><br>
								{% endif %}
							</div>
							<div class="opening-hours"></div>
						{% endfor %}
					</div>
				{% endfor %}
			</div>
		</div>
	</div>
	<div class="footer-bottom">
		<div class="container">
			<div class="row justify-content-center p-5">
				<div class="contact-details col-auto">
					<img class="logoqa m-3" src="img/logo-restaurant-quai-antique.png" alt="logo restaurant quai antique">
					<h3>Restaurant "Le Quai Antique"</h3>
					<p>
						<i class="fa-solid fa-location-dot p-2"></i>
						12 Avenue du Général de Gaulle<br>
						73000 CHAMBÉRY<br>
						<i class="fa-solid fa-phone p-2"></i>
						04.22.22.22.01<br>
						<i class="fa-solid fa-globe p-2"></i>
						restaurant-quai-antique.fr
					</p>
					<ul class="d-flex">
						<li>
							<i class="fa-brands fa-facebook"></i>
						</li>
						<li>
							<i class="fa-brands fa-instagram"></i>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</footer>
