<footer>
	<div class="bg-light footer-top">
		<div class="container">
			<div class="row">
				<h3>Nos horaires d'ouverture</h3>
				<span class="separator"></span>
			</div>
		</div>
	</div>
	<div class="footer-bottom">
		<div class="container justify-content-center">
			<div class="row ">
				<h3>Restaurant "Le Quai Antique"</h3>
				<p>12 Avenue du Général de Gaulle<br>
					73000 CHAMBÉRY<br>
					04.22.22.22.01<br>
					rausaurant-quai-antique.fr</p>

			</div>
		</div>
	</div>
</footer>
