{% extends 'base.html.twig' %}

{% block title %}Restaurant Quai Antique | Confirmation de réservation
{% endblock %}

{% block body %}
	<h1 class="text-center">Confirmation de Réservation</h1>
	<p>
		Merci pour votre réservation, nous serons heureux de vous acceuillir
	</p>

{% endblock %}
