{% extends 'base.html.twig' %}

{% block title %}Restaurant Quai Antique | Confirmation de réservation
{% endblock %}

{% block body %}
	<div class="pt-50 container">
		<div class="row">
			<h1 class="text-center py-5">Confirmation de Réservation</h1>
		</div>
		<div class="row text-center">
			<p>
				Merci pour votre réservation, nous serons heureux de vous acceuillir au sein de notre établissement.
			</p>
		</div>
	</div>


{% endblock %}
