body {
  background: #fff;
  color: #2b2828;
  font-family: "League Spartan", sans-serif;
}

h1,
h2 {
  font-weight: 700;
}

h2,
h3 {
  text-transform: capitalize;
}

footer {
  text-align: center;
  margin-top: 200px;
}
nav {
  background: #2b2828;
  font-size: 1.3rem;
}
.cta {
  background: #c14049;
  color: #fff;
  padding: 1% 4%;
  border: 3px solid #ffffff;
  font-size: 1.3rem;
  font-weight: 700;
  border-radius: 0px;
  text-transform: uppercase;
}
.cta:hover {
  background: #ffffff;
  color: #c14049;
  border: 3px solid #ffffff;
}
.header-top {
  background: #15141a;
  padding: 40px;
}
.header-top a {
  text-decoration: none;
  color: #fff;
}
.header-ico {
  font-size: 2.5rem;
}
.home-header {
  background: url("../../img/bg-home.jpg");
  height: 100vh;
  background-size: cover;
  color: #fff;
}
.home-entrance {
  justify-content: center;
  align-items: center;
  padding: 15vh 0vh 0vh 0vh;
  height: 70vh;
}
.home-entrance h1 {
  font-size: 3.5rem;
}
.nav-link {
  color: #ffffff;
  text-transform: uppercase;
}
.footer-top {
  color: #2b2828;
}
.footer-top h2 {
  color: #c14049;
  font-size: 2.5rem;
}
.btn-cta-menu {
  border-radius: 0px;
  background: #dda044;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 1.3rem;
}
.separator {
  width: 150px;
  text-align: center;
  display: block;
  border-top: 1px solid #2b2828;
  margin: 20px auto;
}
#imageGallery img {
  width: 100%;
}
#aboutUs .row {
  border: 1px solid #2b2828;
}
#aboutUs img {
  width: 100%;
}
.footer-bottom {
  background: #2b2828;
  color: #fff;
}
.footer-bottom ul {
  font-size: 2rem;
  justify-content: center;
  padding: 0px;
  list-style: none;
  gap: 20px;
}
.footer-bottom i {
  color: #dda044;
}
.opening-slots {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-row-gap: 5px;
}
.opening-days ul,
.opening-hours ul {
  font-size: 1.2rem;
  text-transform: uppercase;
  list-style: none;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(7, 1fr);
  padding: 0px;
}
.opening-days ul li:nth-child(even),
.opening-hours ul li:nth-child(even) {
  background: rgba(0, 0, 0, 0.1);
}
