{% extends 'base.html.twig' %}

{% block title %}Restaurant Quai Antique | Arnaud Michant
{% endblock %}
{% block body %}
	<div class="top pt-50 text-center" id="home-top">
		<h1>Restaurant<br>"Le Quai Antique"</h1>
		<p class="m-3">Goûtez à la Savoie !</p>
		<button class="btn cta">
			<a href="{{path('menu')}}">Consulter notre carte</a>
		</button>
	</div>
	<div class="container">
		<section class="text-center" id="imageGallery">
			<div class="row m-5 justify-content-center">
				{% for image in images %}
					<div class="col-lg-4 p-2">
						<img src="/assets/images/{{image.src}}" alt="{{image.title}}">
					</div>
				{% endfor %}
			</div>
			<button class="btn cta">Réserver une table</button>
		</section>
		<section class="text-center m-5" id="aboutUs">
			<h2 class="m-5">Notre chef</h2>
			<div class="row">
				<div class="col-lg-6 p-0">
					<img src="img/chef-antoine-michant.jpg" alt=""></div>
				<div class="col-lg-6 p-5 d-grid">
					<h3>Antoine Michant</h3>
					<span class="separator"></span>
					<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ullam nam recusandae sit aliquam alias iusto nemo, harum et quisquam facilis consequatur inventore sint veritatis, quod quam quia placeat dolor eum.Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ullam nam recusandae sit aliquam alias iusto nemo, harum et quisquam facilis consequatur inventore sint veritatis, quod quam quia placeat dolor eum.Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ullam nam recusandae sit aliquam alias iusto nemo, harum et quisquam facilis consequatur inventore sint veritatis, quod quam quia placeat dolor eum.</p>
				</div>
			</div>
		</section>
	</div>
{% endblock %}
