{% extends 'base.html.twig' %}

{% block title %}Restaurant Quai Antique | Mentions Légales
{% endblock %}
{% block meta %}
	<meta name="description" content="Consultez nos mentions légales">
{% endblock %}

{% block body %}
	<div class="pt-50 container">
		<div class="row">
			<h1 class="text-center py-5">Mentions légales</h1>
		</div>
		<div class="row">

			<h2>Informations générales</h2>
			<p>Le site web http://restaurant-quai-antique.fr/ est la propriété de BERTRAND DOMAT, dont le siège social est situé au 43 Allée de l'Alisier 01340 ATTIGNAT (France).</p>

			<h2>Responsabilité</h2>
			<p>Le contenu du site web http://restaurant-quai-antique.fr/ est fourni à titre informatif uniquement. Bien que nous nous efforcions de maintenir les informations à jour et exactes, nous ne donnons aucune garantie quant à l'exactitude, l'exhaustivité, la fiabilité ou l'adéquation du contenu présenté sur le site.</p>

			<p>Nous déclinons toute responsabilité pour tout dommage ou préjudice direct, indirect, accidentel, consécutif ou spécial résultant de l'utilisation ou de l'incapacité d'utiliser le site web ou son contenu.

				<h2>Propriété intellectuelle</h2>
			</p>
			<p>Sauf indication contraire, tous les contenus présents sur le site web http://restaurant-quai-antique.fr/ (textes, graphiques, logos, images, etc.) sont la propriété exclusive de BERTRAND DOMAT et sont protégés par les lois relatives à la propriété intellectuelle.</p>

			<p>Il est interdit de reproduire, distribuer, modifier, transmettre, utiliser ou publier tout ou partie de ces contenus sans l'autorisation préalable écrite de BERTRAND DOMAT.</p>

			<h2>Liens externes</h2>
			<p>Le site web http://restaurant-quai-antique.fr/ peut contenir des liens vers des sites web externes. Nous n'avons aucun contrôle sur ces sites et déclinons toute responsabilité quant à leur contenu ou à leur politique de confidentialité. L'inclusion de liens externes ne constitue pas une validation de ces sites web par BERTRAND DOMAT.</p>

			<h2>Protection des données personnelles</h2>
			<p>Nous attachons une grande importance à la protection de vos données personnelles. Pour plus d'informations sur la collecte, l'utilisation et la conservation de vos données, veuillez consulter notre politique de confidentialité.</p>

			<h2>Loi applicable et juridiction compétente</h2>
			<p>Les présentes mentions légales sont régies par les lois en vigueur en FRANCE. En cas de litige, les tribunaux compétents de [Ville ou Région] seront seuls compétents.</p>
		</div>
	</div>
{% endblock %}
