{% extends 'base.html.twig' %}

{% block title %}Restaurant Quai Antique | Contact
{% endblock %}
{% block meta %}
	<meta name="description" content="Contactez le Restaurant Quai Antique - Trouvez nos coordonnées, horaires d'ouverture.">
{% endblock %}

{% block body %}
	<div class="top pt-50 text-center" id="contact-top">
		<h1>Contactez-nous</h1>
		<p class="m-3">Nous Sommes à votre Écoute !</p>
		<i class="fa-solid fa-id-card"></i>
	</div>
{% endblock %}
