{% extends 'base.html.twig' %}

{% block title %}Restaurant Quai Antique | Notre Carte
{% endblock %}

{% block body %}
	<div class="top pt-50 text-center" id="menu-top">
		<h1>Notre carte</h1>
		<p class="m-3">Goûtez à la Savoie !</p>
		<i class="fa-solid fa-utensils"></i>
	</div>
	<section class="container justify-content-center" id="dishes-list">
		<div class="row text-center">
			<h2>Les entrées</h2>
			<span class="separator"></span>
			<div class="row dish">
				<div class="col-9 text-start">
					<span class="dish-title">Lorem ipsum, dolor sit amet consectetur.</span>
					<p class="dish-desc">Nesciunt quaerat reprehenderit quas vero maiores aspernatur fuga repudiandae quae quidem, sint unde doloribus!</p>
				</div>
				<div class="col-3">
					<span class="dish-price">10€</span>
				</div>
			</div>
			<div class="row dish">
				<div class="col-9 text-start">
					<span class="dish-title">Lorem ipsum, dolor sit amet consectetur.</span>
					<p class="dish-desc">Nesciunt quaerat reprehenderit quas vero maiores aspernatur fuga repudiandae quae quidem, sint unde doloribus!</p>
				</div>
				<div class="col-3">
					<span class="dish-price">10€</span>
				</div>
			</div>
			<div class="row dish">
				<div class="col-9 text-start">
					<span class="dish-title">Lorem ipsum, dolor sit amet consectetur.</span>
					<p class="dish-desc">Nesciunt quaerat reprehenderit quas vero maiores aspernatur fuga repudiandae quae quidem, sint unde doloribus!</p>
				</div>
				<div class="col-3">
					<span class="dish-price">10€</span>
				</div>
			</div>
			<div class="row dish">
				<div class="col-9 text-start">
					<span class="dish-title">Lorem ipsum, dolor sit amet consectetur.</span>
					<p class="dish-desc">Nesciunt quaerat reprehenderit quas vero maiores aspernatur fuga repudiandae quae quidem, sint unde doloribus!</p>
				</div>
				<div class="col-3">
					<span class="dish-price">10€</span>
				</div>
			</div>
		</div>
		<div class="row text-center">
			<h2>Les plats</h2>
			<span class="separator"></span>
			<div class="row dish">
				<div class="col-9 text-start">
					<span class="dish-title">Lorem ipsum, dolor sit amet consectetur.</span>
					<p class="dish-desc">Nesciunt quaerat reprehenderit quas vero maiores aspernatur fuga repudiandae quae quidem, sint unde doloribus!</p>
				</div>
				<div class="col-3">
					<span class="dish-price">10€</span>
				</div>
			</div>
			<div class="row dish">
				<div class="col-9 text-start">
					<span class="dish-title">Lorem ipsum, dolor sit amet consectetur.</span>
					<p class="dish-desc">Nesciunt quaerat reprehenderit quas vero maiores aspernatur fuga repudiandae quae quidem, sint unde doloribus!</p>
				</div>
				<div class="col-3">
					<span class="dish-price">10€</span>
				</div>
			</div>
			<div class="row dish">
				<div class="col-9 text-start">
					<span class="dish-title">Lorem ipsum, dolor sit amet consectetur.</span>
					<p class="dish-desc">Nesciunt quaerat reprehenderit quas vero maiores aspernatur fuga repudiandae quae quidem, sint unde doloribus!</p>
				</div>
				<div class="col-3">
					<span class="dish-price">10€</span>
				</div>
			</div>
			<div class="row dish">
				<div class="col-9 text-start">
					<span class="dish-title">Lorem ipsum, dolor sit amet consectetur.</span>
					<p class="dish-desc">Nesciunt quaerat reprehenderit quas vero maiores aspernatur fuga repudiandae quae quidem, sint unde doloribus!</p>
				</div>
				<div class="col-3">
					<span class="dish-price">10€</span>
				</div>
			</div>
		</div>
		<div class="row text-center">
			<h2>Les desserts</h2>
			<span class="separator"></span>
			<div class="row dish">
				<div class="col-9 text-start">
					<span class="dish-title">Lorem ipsum, dolor sit amet consectetur.</span>
					<p class="dish-desc">Nesciunt quaerat reprehenderit quas vero maiores aspernatur fuga repudiandae quae quidem, sint unde doloribus!</p>
				</div>
				<div class="col-3">
					<span class="dish-price">10€</span>
				</div>
			</div>
			<div class="row dish">
				<div class="col-9 text-start">
					<span class="dish-title">Lorem ipsum, dolor sit amet consectetur.</span>
					<p class="dish-desc">Nesciunt quaerat reprehenderit quas vero maiores aspernatur fuga repudiandae quae quidem, sint unde doloribus!</p>
				</div>
				<div class="col-3">
					<span class="dish-price">10€</span>
				</div>
			</div>
			<div class="row dish">
				<div class="col-9 text-start">
					<span class="dish-title">Lorem ipsum, dolor sit amet consectetur.</span>
					<p class="dish-desc">Nesciunt quaerat reprehenderit quas vero maiores aspernatur fuga repudiandae quae quidem, sint unde doloribus!</p>
				</div>
				<div class="col-3">
					<span class="dish-price">10€</span>
				</div>
			</div>
			<div class="row dish">
				<div class="col-9 text-start">
					<span class="dish-title">Lorem ipsum, dolor sit amet consectetur.</span>
					<p class="dish-desc">Nesciunt quaerat reprehenderit quas vero maiores aspernatur fuga repudiandae quae quidem, sint unde doloribus!</p>
				</div>
				<div class="col-3">
					<span class="dish-price">10€</span>
				</div>
			</div>
		</div>
	</section>
	<section class="dining-options my-5 py-5">
		<h3>Nos menus</h3>
		<div class="row container">
			<div class="col-lg-4 option p-2 m-2 d-grid">
				<span class="option-title">Le Campagnard</span>
				<p class="option-desc">(Le midi du Lundi au Vendredi)</p>
				<p class="option-content">Entrée + Plat ou Plat + Dessert</p>
				<span class="option-price">16€</span>
			</div>
			<div class="col-lg-4 option p-2 m-2 d-grid">
				<span class="option-title">Le Campagnard</span>
				<p class="option-desc">(Le midi du Lundi au Vendredi)</p>
				<p class="option-content">Entrée + Plat ou Plat + Dessert</p>
				<span class="option-price">16€</span>
			</div>
			<div class="col-lg-4 option p-2 m-2 d-grid">
				<span class="option-title">Le Campagnard</span>
				<p class="option-desc">(Le midi du Lundi au Vendredi)</p>
				<p class="option-content">Entrée + Plat ou Plat + Dessert</p>
				<span class="option-price">16€</span>
			</div>
		</div>
	</section>

{% endblock %}
